<center>

<div id="the_feels"><h1>the feels</h1></div>

<div id="menu">Edit Poem</div>

<%= render 'form' %>

<div id="links">
  <%= link_to 'Show', @poem %> |
  <%= link_to 'Home', poems_path %>
</div>

</center>
