<center>
<div id="notice">
  <%= notice %>
</div>

<div style="width=50%">

<div id="the_feels">
  <h1>the feels</h1>
</div>

<div id="menu">
  <%= link_to '6-word', sixword_poem_path  %> |
  <%= link_to 'Free Verse', freeverse_poem_path %>
</div>

</div>
</center>