#the_feels {
  width: 750px;
  font-size: 50px;
  margin: 5px;
}

#menu {
  width: 500px;
  background-color: pink;
  font-weight: bold;
  color: black;
  margin: 15px;
}

#date {
  width: 500px;
  color: black;
  font-style: italic;
  font-size: 10px;
  text-align: right;
  margin: 0px;
}

#poem_title {
  width: 500px;
  background-color: #b0c4de;
  font-weight: bold;
  color: black;
  margin: 10px;
}

#poem_content {
  width: 500px;
  text-align: justify;
  white-space: pre-line;
  margin: 10px;
}

#links {
  width: 500px;
  margin: 15px;
}

#title_field {
  box-sizing: border-box;
  border: 2px solid #b0c4de;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
  font-weight: bold;
}

#body_field {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
}

#new_button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  background-color: grey;
  border: 1px solid grey;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
  font-weight: normal;
  margin: 15px;
}

#new_button:hover {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  background-color: white;
  color: grey;
  border: 1px solid grey;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
  font-weight: normal;
}

#buttons {
  background-color: #b0c4de;
  border: 1px solid #b0c4de;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
}

#buttons:hover {
  background-color: white;
  color: black;
  border: 1px solid #b0c4de;
  font-size: 13px;
  font-family: verdana, arial, sans-serif;
}
